<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>
    {{> header}}
    <p>This is my Portfolio!</p>

    {{> footer}}
  </body>
</html>
